<html>
  <head>
    <title>SECJ3483 - Project</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <style>
      i.fa {
        cursor: pointer;
      }
    </style>
  </head>

  <body id="project">
    <h2>WebTech Final Mark Data Entry</h2>

    <div class="w3-bar w3-grey">
      <button class="w3-bar-item w3-button w3-black">Marks Entry Form</button>
      <button
        class="w3-bar-item w3-button"
        onclick="location.href='marks-dblist.html';"
      >
        Marks DB List
      </button>
    </div>

    <table class="w3-table-all w3-small w3-hoverable">
      <tr class="w3-blue">
        <th>Name</th>
        <th>Session</th>
        <th class="numeric cw">Coursework (70%)</th>
        <th class="numeric fe">Final Exam (30%)</th>
        <th class="numeric total">Total</th>
        <th class="grade">Grade</th>
        <th>&nbsp;</th>
      </tr>
      <tr class="row_data w3-hover-khaki" v-for="(item, idx) in data">
        <td class="text name">{{item.name}}</td>
        <td class="text session">{{item.session}}</td>
        <td class="numeric cw">{{item.cw}}</td>
        <td class="numeric fe">{{item.fe}}</td>
        <td class="numeric total">{{item.cw + item.fe}}</td>
        <td class="grade">{{getGrade(item.cw + item.fe)}}</td>
        <td class="icon">
          <i
            class="fa fa-upload w3-large w3-text-green"
            aria-hidden="true"
            title="Save data to server"
            v-on:click="dbSave(idx)"
            v-show="show_dbSave[idx]"
          ></i>
          <i
            class="fa fa-circle-o-notch fa-spin w3-large w3-text-grey"
            aria-hidden="true"
            v-show="show_dbSaveSpin[idx]"
          ></i>
          &nbsp;&nbsp;
          <i
            class="fa fa-close w3-large w3-text-red"
            aria-hidden="true"
            title="Delete row"
            v-on:click="deleteRow(idx)"
          ></i>
        </td>
      </tr>
      <tr id="row_avg" class="w3-orange">
        <th colspan="2" style="text-align: center">AVERAGE</th>
        <th id="avg_cw" class="numeric">{{avg.cw}}</th>
        <th id="avg_fe" class="numeric">{{avg.fe}}</th>
        <th id="avg_total" class="numeric">{{avg.total}}</th>
        <th id="avg_grade" class="grade">{{avg.grade}}</th>
        <th>
          <i
            class="fa fa-upload w3-large w3-text-black allrows"
            aria-hidden="true"
            title="Save all data to server"
            v-on:click="dbSaveAll()"
            v-show="show_dbSaveAll"
          ></i>
          <i
            class="fa fa-circle-o-notch fa-spin w3-large w3-text-grey allrows"
            aria-hidden="true"
            v-show="show_dbSaveAllSpin"
          ></i>
          &nbsp;&nbsp;
          <i
            class="fa fa-close w3-large w3-text-black allrows"
            aria-hidden="true"
            title="Delete rows"
            v-on:click="deleteRows()"
          ></i>
        </th>
      </tr>
    </table>

    <h3>Add data:</h3>
    <table class="w3-table-all w3-small">
      <tr class="w3-green">
        <th>Name</th>
        <th>Session</th>
        <th>Coursework (70%)</th>
        <th>Final Exam (30%)</th>
        <th>&nbsp;</th>
      </tr>
      <tr>
        <td>
          <input type="text" id="in_name" v-model="in_name" class="w3-input" />
        </td>
        <td>
          <input type="text" v-model="in_session" class="w3-input numeric" />
          <i class="w3-text-red w3-tiny errmsg_in">{{errmsg_session}}</i>
        </td>
        <td>
          <input type="text" v-model="in_cw" class="w3-input numeric" />
          <i class="w3-text-red w3-tiny errmsg_in">{{errmsg_cw}}</i>
        </td>
        <td>
          <input type="text" v-model="in_fe" class="w3-input numeric" />
          <i class="w3-text-red w3-tiny errmsg_in">{{errmsg_fe}}</i>
        </td>
        <td>
          <i
            id="btn_add"
            class="fa fa-plus-circle w3-large w3-text-blue"
            aria-hidden="true"
            title="Add new data"
            v-on:click="addRow()"
          ></i>
        </td>
      </tr>
    </table>
    <pre>
    Group Members:
    1. ???
    2. ???
    3. ???
    4. ???
    5. ???
    6. ???
    </pre>
  </body>
</html>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const vueApp = Vue.createApp({
    data() {
      return {
        data: [
          { name: "AIMI NAJWA", session: "20132014-2", cw: 49, fe: 18 },
          { name: "FAWWAZ", session: "20132014-2", cw: 53, fe: 29 },
          { name: "MAHFUD", session: "20132014-2", cw: 46, fe: 10 },
        ],

        avg: { cw: 0, fe: 0, total: 0, grade: "E" },

        in_name: "???",
        in_session: "???",
        in_cw: 0,
        in_fe: 0,
        errmsg_session: "",
        errmsg_cw: "",
        errmsg_fe: "",

        show_dbSave: [true, true, true],
        show_dbSaveSpin: [false, false, false],
        show_dbSaveAll: true,
        show_dbSaveAllSpin: false,
      };
    },

    watch: {
      // always make student name in uppercase format
      in_name(val) {
        this.in_name = val.toUpperCase();
      },
    },

    methods: {
      // Function to return grade based on total mark
      // of coursework + final exam
      getGrade(m) {
        let marks = [90, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 0];
        let grades = [
          "A+",
          "A",
          "A-",
          "B+",
          "B",
          "B-",
          "C+",
          "C",
          "C-",
          "D+",
          "D",
          "D-",
          "E",
        ];

        for (let idx = 0; idx < marks.length; idx++) {
          if (m >= marks[idx]) {
            //console.log(marks[idx]);
            return grades[idx];
          }
        }

        return "N/A";
      },

      // Calculate and set the average of coursework, final exam,
      // total mark and grade.
      calcAvg() {
        // Task 2.1: complete the calcAvg function
        let total_cw = 0,
          total_fe = 0,
          count = this.data.length;
        for (let i = 0; i < count; i++) {
          total_cw += parseInt(this.data[i].cw);
          total_fe += parseInt(this.data[i].fe);
        }
        this.avg.cw = (total_cw / count).toFixed(2);
        this.avg.fe = (total_fe / count).toFixed(2);
        this.avg.total = (
          parseInt(this.avg.cw) + parseInt(this.avg.fe)
        ).toFixed(2);
        this.avg.grade = this.getGrade(parseInt(this.avg.total));
      },

      setInput(name, session, cw, fe) {
        this.in_name = name;
        this.in_session = session;
        this.in_cw = cw;
        this.in_fe = fe;
      },

      // Function to validate input by user.
      validateInput() {
        // Reset all error messages.
        this.errmsg_session = "";
        this.errmsg_cw = "";
        this.errmsg_fe = "";

        let valid_input = 1;

        console.log(`this.in_cw = ${this.in_cw}`);

        if (
          this.in_name == "" ||
          this.in_session == "" ||
          this.in_cw == "" ||
          this.in_fe == ""
        ) {
          alert("Please complete all input fields!");
          valid_input = 0;
        } else {
          if (this.in_fe > 30 || this.in_fe < 0 || isNaN(this.in_fe)) {
            this.errmsg_fe = "Invalid value range of final exam mark!";
            valid_input = 0;
          }

          if (this.in_cw > 70 || this.in_cw < 0 || isNaN(this.in_cw)) {
            this.errmsg_cw = "Invalid value range of coursework mark!";
            valid_input = 0;
          }

          if (!this.in_session.match(/^\d{8}\-\d{1}$/g)) {
            this.errmsg_session = "Invalid input pattern of session field!";
            valid_input = 0;
          }
        }

        return valid_input;
      },

      // addRow function
      addRow() {
        console.log("call addRow function");

        if (this.validateInput()) {
          console.log("add new row");
          // Task 2.2: complete the addRow function
          this.data.push({
            name: this.in_name,
            session: this.in_session,
            cw: parseInt(this.in_cw),
            fe: parseInt(this.in_fe),
          });
          this.calcAvg();
        }
      },

      // deleteRow function
      deleteRow(idx) {
        console.log(`delete array item at idx = ${idx}`);
        if (confirm("Confirm to delete row?")) {
          // Task 2.3: complete the deleteRow function
          this.data.splice(idx, 1);
          this.calcAvg();
        }
      },

      // deleteRows function
      deleteRows() {
        if (confirm("Confirm to delete all rows?")) {
          // Task 2.4: complete the deleteRows function
          this.data = [];
          this.calcAvg();
        }
      },

      // dbSave function
      dbSave(idx) {
        this.show_dbSave[idx] = false;
        this.show_dbSaveSpin[idx] = true;

        // Task 2.5: complete the dbSave function
        const saveData = [
          {
            name: this.data[idx].name,
            session: this.data[idx].session,
            cw: this.data[idx].cw,
            fe: this.data[idx].fe,
          },
        ];

        fetch(
          `http://localhost/webtech/project/dbsave.php?jsonStr=${encodeURIComponent(
            JSON.stringify(saveData)
          )}`
        )
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              this.data.splice(idx, 1);
              this.show_dbSave.splice(idx, 1);
              this.show_dbSaveSpin.splice(idx, 1);
              this.calcAvg();
            } else {
              console.error("Error saving data:", data.error_msg);
              this.show_dbSave[idx] = true;
            }
            this.show_dbSaveSpin[idx] = false;
          })
          .catch((error) => {
            console.error("Error:", error);
            this.show_dbSave[idx] = true;
            this.show_dbSaveSpin[idx] = false;
          });
      },
      // dbSaveAll function
      dbSaveAll() {
        this.show_dbSaveAll = false;
        this.show_dbSaveAllSpin = true;

        // Task 2.6: complete the dbSaveAll function
        const saveAllData = this.data.map((item) => ({
          name: item.name,
          session: item.session,
          cw: item.cw,
          fe: item.fe,
        }));

        fetch(
          `http://localhost/webtech/project/dbsave.php?jsonStr=${encodeURIComponent(
            JSON.stringify(saveAllData)
          )}`
        )
          .then((response) => response.json())
          .then((data) => {
            if (data.status === "success") {
              this.data = [];
              this.show_dbSave = [];
              this.show_dbSaveSpin = [];
              this.calcAvg();
            } else {
              console.error("Error saving data:", data.error_msg);
              this.show_dbSaveAll = true;
            }
            this.show_dbSaveAllSpin = false;
          })
          .catch((error) => {
            console.error("Error:", error);
            this.show_dbSaveAll = true;
            this.show_dbSaveAllSpin = false;
          });
      },
    },
    mounted() {
      // Sample of valid inputs
      // Enable either one of setInput function calls below to
      // quickly set input fields for testing
      this.setInput("AHMAD", "20132014-2", 46, 30);
      //this.setInput('BAZLI', '20132014-2', 48, 29);
      //this.setInput('YONG', '20132014-2', 47, 21);

      this.calcAvg();
    },
  });

  vueApp.mount("#project");
</script>
